<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Kudos Board</span>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

            <a class="nav-link home" href="@Url.Action("Index", "Board")">Home </a>

        </li>

    </ul>
    <div class="form-inline">

        <b style="padding-right:20px;color:black;font-weight:bold">@Session["UserName"]</b>

      
        <button style="text-decoration: none;" class="btn btn-dark" type="submit" onclick="LogOut()">Log Out</button>
    </div>
</nav>

